@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbarItemColor: rgb(187, 187, 187);
  --searchBarActiveColor: rgb(27, 27, 27);
}

@layer components {
  .button {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 transition-all duration-200 ease-out active:bg-gray-100;
  }
}

.navbarItem {
  position: relative;
  padding-bottom: 7px;
}

.navbarItem::after,
.active::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-bottom: 2px solid var(--navbarItemColor);
  transition: all 300ms;
}

.navbarItem:hover::after {
  transform: scale(0.1, 1);
}

.navbarItem:hover {
  color: var(--navbarItemColor);
}

.searchBarActive .navbarItem:hover {
  color: var(--searchBarActiveColor);
}

.active {
  position: relative;
  padding-bottom: 7px;
}

.active::after {
  transform: scale(0.25, 1);
}

.navbarItem::after {
  transform: scale(0, 1);
}

.searchBarActive .active::after,
.searchBarActive .navbarItem::after {
  border-bottom: 2px solid var(--searchBarActiveColor);
}
